<div>
    {% url 'index' as index_url %}
    <span>{% if request.path == index_url %}Home{% else %}<a href="{{ index_url }}">Home</a>{% endif %}</span>
    {% url 'data' as data_url %}
    <span>{% if request.path == data_url %}Data{% else %}<a href="{{ data_url }}">Data</a>{% endif %}</span>
    {% url 'graph' as graph_url %}
    <span>{% if request.path == graph_url %}Graph{% else %}<a href="{{ graph_url }}">Graph</a>{% endif %}</span>
    {% url 'feedback' as feedback_url %}
    <span>{% if request.path == feedback_url %}Feedback{% else %}<a href="{{ feedback_url }}">Feedback</a>{% endif %}</span>
</div>